body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    width: 100%;
    height: 69px;
    display: block;
    background-color: black;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
    padding-top: 20px;;
}

.logo{
    height: 50px;
    float: left;
    padding-left: 10px;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0 auto;  
}

.navigation a {
    height: 100%;
    float: left;
    padding: 10px 20px;
}

.navigation a li {
    text-decoration: underline;
    list-style: none;
    color: white; 
}

.mission-container {
    background-image: url('images/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-over {
    margin: auto;
    background-color: black;
    width: 1200px;
}

#featured-tea {
    padding-top: 20px;
}

.tea-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 

.prod img {
    height: 200 px;
    width: 300px;
    padding: 0px 15px;
}

.prod h4 {
    margin-top: 10px;
}

.loc-container {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-image: url("images/img-locations-background.jpg");
}

.section-head {
    padding-top: 45px;
    text-align: center;
    font-size: 35px;
}

.section-head p {
    margin-bottom: 15px;
}

.location-box {
    max-width: 1200px;
    display: flex;
    flex: 0 0 300px;
    justify-content: center;
}

.location {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin: 0 20px ;
    background-color: black;
    opacity: 1;
}

footer {
    height: 200px;
    margin-top: 100px;
}

.copyright {
    float: left;
    margin-left: 20px;
}